@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Poppins:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "URWAbbeyW01";
  src: url("../fonts/urwabbeyw01-bold/URWAbbeyW01-Bold.eot");
  src: url("../fonts/urwabbeyw01-bold/URWAbbeyW01-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/urwabbeyw01-bold/URWAbbeyW01-Bold.woff2") format("woff2"),
    url("../fonts/urwabbeyw01-bold/URWAbbeyW01-Bold.woff") format("woff"),
    url("../fonts/urwabbeyw01-bold/URWAbbeyW01-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background: url(/blk/assets/img/home-bg.svg) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif !important;
}

.navbar {
  background: white;
}

.navbar-nav li a {
  font-size: 14px;
  margin: 0 7px;
  font-weight: bold;
  color: #0B1814 !important;
}

.navbar-scrolled .navbar-nav li .active {
  color: #0B1814 !important;
}

.navbar-collapse.show {
  height: 25rem;
  overflow-y: auto;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay to Improve Readability */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Adjust opacity if needed */
  z-index: -1;
}

/* Ensure Text Appears Over the Video */
.hero {
  position: relative;
  z-index: 1;
  height: 100vh;
}

#contact-hero {
  height: 60vh;
  background: #307e67;
}

#women-hero {
  height: 70vh;
  background: #9b6eaf;
}

.main-heading {
  font-size: 48px;
  font-weight: 500;
}

.hero-heading {
  /* font-family: "Wix Madefor Display", sans-serif; */
  font-size: 36px;
  font-weight: 600;
}

.heading {
  /* font-family: "Wix Madefor Display", sans-serif; */
  font-size: 36px;
  font-weight: 600;
}

.subheading {
  font-size: 22px;
  font-weight: 600;
}

.subdescription {
  font-size: 13px;
}

.bg-hover-green {
  background: transparent;
}

.bg-hover-green:hover {
  background: #24614f;
}

.video-lable {
  background-color: #24614f !important;
  color: #000000;
  font-weight: 500;
  border: 1px solid #24614f;
}

.reserve-btn {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 30px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
}

.send-btn {
  background-color: #307e67 !important;
  color: #ffffff !important;
  border-radius: 100px !important;
  padding: 15px 40px !important;
  font-size: 16px;
  font-weight: 500;
}

.secondary-txtcolor {
  color: #4a4a4a;
}

/* blog */

.blog-wrap .blog-img-date-wrap {
  position: relative;
}

.blog-wrap .blog-img-date-wrap .blog-img {
  overflow: hidden;
}

.blog-wrap .blog-img-date-wrap .blog-img a {
  display: block;
}

.blog-wrap .blog-img-date-wrap .blog-img a img {
  width: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.blog-wrap .blog-content h3 {
  font-size: 24px;
  color: #4a4a4a;
  font-weight: 500;
  margin: 8px 0 17px;
  line-height: 33px;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .blog-wrap .blog-content h3 {
    font-size: 23px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .blog-wrap .blog-content h3 {
    font-size: 23px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-wrap .blog-content h3 {
    font-size: 18px;
    margin: 5px 0 6px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-wrap .blog-content h3 {
    font-size: 19px;
    line-height: 30px;
    margin: 8px 0 8px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-wrap .blog-content h3 {
    font-size: 18px;
    line-height: 30px;
    margin: 8px 0 8px;
  }
}

.blog-wrap .blog-content h3 a {
  color: #4a4a4a;
}

.blog-wrap .blog-content h3 a:hover {
  color: black;
}

.blog-wrap:hover .blog-img-date-wrap .blog-img a img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* store */
.product-wrap {
  overflow: hidden;
  position: relative;
}

.product-wrap .product-img {
  overflow: hidden;
  position: relative;
}

.product-wrap .product-img a {
  display: block;
}

.product-wrap .product-img a img {
  width: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.product-wrap .product-img .product-action-wrap {
  display: inline-block;
  left: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.product-wrap .product-img .product-action-wrap .product-action-btn-1 {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-size: 23px;
  height: 45px;
  margin: 0 3px;
  text-align: center;
  width: 45px;
  border: none;
  border-radius: 6px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.product-wrap .product-img .product-action-wrap .product-action-btn-1 i {
  line-height: 45px;
}

.product-wrap .product-img .product-action-wrap .product-action-btn-1:first-child {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.product-wrap .product-img .product-action-wrap .product-action-btn-1:last-child {
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

.product-wrap .product-img .product-action-wrap .product-action-btn-1:hover {
  color: #ffffff;
  background-color: #183e33;
}

.product-wrap .product-content h3 {
  font-weight: 500;
  margin: 0 0 10px;
  font-size: 16px;
}

.product-wrap .product-content h3 a {
  color: #0B1814;
}

.product-wrap .product-content h3 a:hover {
  color: #fff !important;
}

.product-wrap:hover .product-img a img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.product-wrap:hover .product-img .product-badge-2 {
  top: 15px;
  right: 20px;
  opacity: 1;
  visibility: visible;
}

.product-wrap:hover .product-img .product-action-3-wrap {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}

.product-wrap:hover .product-action-wrap {
  opacity: 1;
  visibility: visible;
}

.product-wrap:hover .product-action-wrap .product-action-btn-1:first-child {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.product-wrap:hover .product-action-wrap .product-action-btn-1:last-child {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.product-box {
  background: #24614f;
  padding: 3px;
  border-radius: 5px;
}

/* product details */
.product-details h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.blog-detail-img img {
  height: 25rem;
  object-fit: cover;
}

.reserve-your-img {
  width: 80%;
}

.youtube-container {
  position: relative;
  width: 100%;
  /* Full width on all devices */
  max-width: 800px;
  /* Optional: limit width */
  height: 450px;
  /* Control height manually */
  margin: auto;
  /* Center align */
}

.youtube-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Optional: responsive height for smaller devices */
@media (max-width: 576px) {
  .youtube-container {
    height: 250px;
  }
}

/* signup */

.signup {
  background: url(/assets/img/men-signup-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-form {
  width: 450px;
  padding: 10px 20px 30px 20px;
  border-radius: 10px;
  background: #24614f;
}

.signup-form input {
  background: #4abb99;
  border: none;
  border-radius: 15px;
}

.signup .logo {
  width: 80% !important;
}

.signup-form .summit-first {
  font-family: "Arial Bold", sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-transform: capitalize;
}

.password-container {
  position: relative;
}

.password-input {
  padding-right: 30px;
  width: 100%;
  box-sizing: border-box;
}

.password-toggle {
  position: absolute;
  top: 52%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.password-toggle:hover {
  color: #333;
}

.exist a {
  color: rgba(127, 99, 244, 1);
}

.keep-me-logged .checkboxing {
  margin: 0 5px 0 0 !important;
  height: 24px;
}

.number-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}

.button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.input {
  width: 40px;
  text-align: center;
  border: none;
  outline: none;
}

.size-option {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  margin-right: 15px;
}

.size-option.active {
  background-color: #3cbfae;
  color: white;
  border: none;
}

.title-head-sm {
  background: #329075;
  padding: 12px 50px 12px 50px;
  text-align: center;
  font-weight: 700 !important;
  border-radius: 50px;
}

.women-title-head-sm {
  background: #9b6eaf;
  padding: 12px 50px 12px 50px;
  text-align: center;
  font-weight: 700 !important;
  border-radius: 50px;
}

.single-team-wrap {
  border: 7px solid #24614f;
  overflow: hidden;
}

.team-bx {
  transition: all 0.4s ease 0s;
}

.team-bx:hover {
  transform: scale(1.08);
}

.bg-green {
  background: #307e67 !important;
}

.bg-pink {
  background: #9b6eaf !important;
}

.client-logo {
  width: 100%;
  height: 200px !important;
  object-fit: contain;
}

.countdown-title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.countdown-timer {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 1rem;
}

.time-box {
  min-width: 80px;
}

.time-value {
  font-size: 2.2rem;
  font-weight: bold;
  display: block;
}

.time-label {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.notify-btn {
  margin-top: 30px;
}

@media (max-width: 576px) {
  .time-value {
    font-size: 1.6rem;
  }

  .countdown-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .hero-heading {
    font-size: 32px;
  }
}

/* ok */
.cart-content ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.cart-content ul li .cart-img {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70px;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
}

.cart-content ul li .cart-img a img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-content ul li .cart-title {
  margin-left: 20px;
}

.cart-content ul li .cart-title h4 {
  font-size: 15px;
  margin: 0 0 8px;
  font-weight: 500;
}

.cart-content ul li .cart-title h4 a {
  color: #000000;
  font-weight: 500;
}

.cart-content ul li .cart-title h4 a:hover {
  color: #000000;
  font-weight: 500;
}

.cart-content ul li .cart-title span {
  font-size: 15px;
  color: #000000;
  font-weight: 500;
}

.cart-content ul li .cart-delete {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100;
  -webkit-flex-grow: 100;
  -ms-flex-positive: 100;
  flex-grow: 100;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.cart-content ul li .cart-delete a {
  display: block;
  font-size: 20px;
  height: 20px;
  line-height: 17px;
  overflow: hidden;
  width: 20px;
  text-align: right;
  color: #000000;
}

.cart-content ul li .cart-delete a:hover {
  color: #e97730;
}

.cart-content .cart-total {
  display: block;
  width: 100%;
  margin: 16px 0 26px;
}

.cart-content .cart-total h4 {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
  color: #000000;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cart-content .cart-total h4 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .cart-content .cart-total h4 {
    font-size: 15px;
  }
}

.cart-content .cart-total h4 span {
  font-size: 15px;
  color: #000000;
  float: right;
  font-weight: 500;
}

.cart-content .cart-btn,
.cart-content .checkout-btn {
  display: block;
  width: 100%;
}

.cart-content .cart-btn a,
.cart-content .checkout-btn a {
  width: 100%;
  display: block;
  text-align: center;
  padding: 18px 20px 17px;
  background-color: #307e67;
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  z-index: 1;
}

.cart-content .cart-btn a:first-child,
.cart-content .checkout-btn a:first-child {
  margin-top: 0;
}

.cart-content .cart-btn {
  margin-bottom: 10px;
}

.cart-close {
  position: absolute;
  top: 32px;
  right: 45px;
  font-size: 20px;
  color: #ffffff;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  background-color: #307e67;
}

.cancel-btn {
  position: absolute;
  top: 0;
  left: -52px;
  font-size: 20px;
  color: #ffffff;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  background-color: black;
}

.cart-offcanvas {
  width: 100%;
}

.about-img img {
  width: 100%;
  -webkit-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.about-img:hover img {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

@media(max-width: 576px) {
  .cart-offcanvas {
    width: 20rem;
  }

  .time-box {
    min-width: 55px !important;
  }
}